@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  background-color: #10007d0e;
}

header {
  text-align: center;
  color: white;
  background-color: #02000f;
}

header>h1 {
  padding: 50px 0 10px 0;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

section {
  
  padding: 10vh 0 10vh 8vw;
}

section.sem {
  background-color: white;
  color: black;
}

section.com {
  color: white;
  background-color: #0000008f;
}

section.com > p {
  padding: 10px;
  width: 300px;
  background-color: #0000008a;
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 10px;
}