@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

:root {
  --fontegeral: Verdana, Geneva, Tahoma, sans-serif;
  --fontetitulo: "Passion One", cursive;
  --fontemao: "Courgette", cursive;

  --corBranca: rgba(255, 255, 255, 0.146);
  --corBrancaClara: rgba(255, 255, 255, 0.954);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--fontegeral);

  background-color: #10007d0e;
}

header {
  text-align: center;
  color: rgba(255, 255, 255, 0.839);
  background-color: #02000f;
}

header h1 {
  font-size: 9rem;
  font-family: var(--fontetitulo);
  padding: 5rem 0 1rem 0;
  font-variant: small-caps;
}

header p,
a {
  font-size: 3rem;
  padding-bottom: 5rem;
}

a {
  color: var(--corBrancaClara);
  text-decoration: none;
  font-weight: bolder;
}

a:hover {
  text-decoration: underline;
}

section {
  font-size: 3.5rem;
  font-family: var(--fontemao);
  line-height: 6rem;
}

section.sem {
  background-color: var(--corBranca);
  color: black;
  padding: 10rem 0 10rem 15vw;
}

section.com {
  box-shadow: inset 0.6rem 0.6rem 1.3rem 0 #0000004d;
  background-attachment: fixed;
  color: var(--corBrancaClara);
  background-size: cover;
  padding: 10rem 0 10rem 13vw;
}

section.com > p {
  text-shadow: 0.1rem 0.1rem 0 black;
  padding: 2vw;
  display: inline-block;
  background-color: #0000008a;
}

section#com1 {
  background-position: center center;
  background-image: url("imagens/background001.jpg");
}

section#com2 {
  background-image: url("imagens/background002.jpg");
}

footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}
footer a {
  padding-bottom: 0;
  font-size: 2.2rem;
}
